In [1]:
import pandas as pd
import statistics
import seaborn as sns

In [2]:
df = sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
df.shape

(244, 7)

In [4]:
total_bill_data = df['total_bill']
type(total_bill_data)

pandas.core.series.Series

### Mean

In [5]:
statistics.mean(total_bill_data)

19.78594262295082

### Median

In [6]:
statistics.median(total_bill_data)

17.795

### Mode

In [7]:
statistics.mode(total_bill_data)

13.42

### Variance

In [8]:
statistics.variance(total_bill_data)

79.25293861397827

### Standard Deviation

In [9]:
statistics.stdev(total_bill_data)

8.902411954856856

### Quartile Range

In [10]:
total_bill_data.describe()

count    244.000000
mean      19.785943
std        8.902412
min        3.070000
25%       13.347500
50%       17.795000
75%       24.127500
max       50.810000
Name: total_bill, dtype: float64

### Coefficient Of Variation

In [11]:
statistics.stdev(total_bill_data)/statistics.mean(total_bill_data)*100

44.99362059470673